[phases.setup]
nixPkgs = ["python313", "gcc"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = []

[start]
cmd = "sh -c 'uvicorn src.main:app --host 0.0.0.0 --port ${PORT:-8000}'"
